

:root {
    --font-highlight: rgb(255, 100, 28);
    --body-bg: rgb(30, 30, 30);
    --white1: rgb(204, 204, 204);
    --white2: rgb(136, 136, 136);
    --white3: rgb(104, 104, 104);
    --med-grey: rgb(120, 120, 120);
    --dk-grey: rgb(58, 58, 58);
    --card-col: rgb(20, 20, 20);
    --content-col: rgb(20, 20, 20);
    --border-col: rgb(34, 34, 34)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: var(--body-bg);
    color: var(--white1);
}
.invisible-brand {
    visibility: hidden;
}
.mybrand {
    position: absolute;
    z-index: 2;
    padding: 0.5rem 2rem;
}
.mybrand > img {
    max-width: 100%;
    height: auto;
}

/* ===========  CROSSFADER START  ============ */
.crossfade > figure {
animation: imageAnimation 30s linear infinite 0s;
backface-visibility: hidden;
background-size: cover;
background-position: center center;
color: transparent;
height: 50%;
left: 0px;
opacity: 0;
position: absolute;
top: 0px;
width: 100%;
z-index: 1;
}
/* ------  IMAGE CROSSFADER size 1920x600 or 560x300 -----  */
.crossfade > figure:nth-child(1) {
background-image: url('../img/slider/s8.jpg');
}
.crossfade > figure:nth-child(2) {
animation-delay: 6s;
background-image: url('../img/slider/s7.jpg');
}
.crossfade > figure:nth-child(3) {
animation-delay: 12s;
background-image: url('../img/slider/s2.jpg');
}
.crossfade > figure:nth-child(4) {
animation-delay: 18s;
background-image: url('../img/slider/s4.jpg');
}
.crossfade > figure:nth-child(5) {
animation-delay: 24s;
background-image: url('../img/slider/s5.jpg');
}
@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
/* ===========  CROSSFADER END  ============ */

.main {
    padding-top: 480px;
    /* position: relative; */
}
.container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;

}

/* =========  CARDS START  ============= */
.container-1 > a {
    color: var(--white1);
    text-decoration: none;
    z-index: 2;
    border: var(--border-col) solid 4px;
    border-radius: 0.25rem;
    margin: 0.1rem;
    

}
.card {
    background-color: var(--card-col);
    width: 14rem;
    height: 21rem;
    margin: 0.1rem;
    border-radius: 0.4rem;
    padding: 1rem;
    overflow: hidden;
}
.img-card {
    height: 7rem;
    margin-bottom: 0.75rem;
    background-size: cover;
    border-radius: 0.25rem;
}
.card h1 {
    font-size: 1.75rem;
    color: var(--font-highlight);
    text-align: center;
    text-decoration: none;
}
.card p {
    color: whitesmoke;
    padding: 0.75rem;
    font-size: 1.2rem;
    text-align: center;
}
.card:hover {
    background-color: var(--dk-grey);
    transform: scale(1.03);
    transition: all 250ms ease;
    /* text-decoration-line: underline; */
    color: var(--font-highlight);
}
/* NOTE: Image size should be 16:9 -- '960x540' or '480x270' */
.img-unreal {
    background-image: url('../img/icons/ue-editor.jpg');
}
.img-godot {
    background-image: url('../img/icons/godot-editor.jpg');
}
.img-blender {
    background-image: url('../img/icons/blender-editor.jpg');
}
.img-gimp {
    background-image: url('../img/icons/gimp-editor.jpg');
}

/* ==============  CARDS END  ================== */
/* ==============  CONTAINER 2 START  ================== */

.container-2 {
    padding: 4rem 4rem 1rem 4rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

}

.external-links {
    /* display: flex; */
    /* justify-content: left; */
    /* flex-direction: column; */
    background-color: var(--content-col);
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem;
    /* width: 20rem; */
    /* height: 50rem; */
    height: auto;
    /* overflow: hidden; */
    line-height: 2rem;
    min-width: 360px;
}

.links-border {
    display: flex;
    flex-direction: column;
    border: var(--border-col) solid 2px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    height: 100%;
    min-height: 200px;
    border-radius: 0.4rem;
    overflow: hidden;
}

.h2-highlight {
    color: var(--font-highlight);
    font-size: 2rem;
}

.sidebar-h2{
    color: var(--white1);
    font-size: 1.75rem;
}

.sidebar-h3 {
    /* font-size: 1.75rem; */
    color: var(--font-highlight);
    padding: 0.75rem 0 0.5rem 0;

}

.external-links {
    font-size: 1.2rem;
}

.external-links > .links-border > a:link {
    /* text-decoration: none; */
    color: var(--white1);
    margin-left: 1.5rem;
}

.external-links > .links-border > a:visited {
    color: var(--white2);
}

.external-links > .links-border > a:hover {
    color: white;
}

/* ============  FRONT CONTENT  ============== */

.article-container {
    /* display: inline-block; */
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    min-width: 360px;
    /* width: auto; */
    background-color: var(--content-col);
}

.article-container img {
    float: left;
    padding: 0 1.5rem 0.5rem 0;
    width: 320px;
    height: 180px;

}

.article-container p {
    font-size: 1.2rem;

}

.article-container a:link {
    color: var(--white1);
}
.article-container a:visited {
    color: var(--white2)
}

.article-border {
    border: var(--border-col) solid 2px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    height: auto;
    min-height: 200px;
    border-radius: 0.4rem;
}

.article-border > h3 {
    color: var(--white2);
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: var(--content-col);
}

.border-footer {
    /* border: var(--border-col) solid 2px; */
    border: var(--border-col) solid 2px;
    padding: 1rem;
    margin: 1rem;
    height: auto;
    width: 85%;
    min-height: 200px;
    border-radius: 0.4rem;
    text-align: center;
    
}

.footer-img img {
    width: 240px;
    height: auto;
}

.footer-sitelink {
    color: var(--font-highlight);
}

@media only screen and (max-width: 3900px) {
    .main {
        padding-top: 1000px;
    }

}

@media only screen and (max-width: 3300px) {
    .main {
        padding-top: 700px;
    }

}

@media only screen and (max-width: 2500px) {
    .main {
        padding-top: 640px;
    }

}

@media only screen and (max-width: 2000px) {
    .main {
        padding-top: 500px;
    }

}
@media only screen and (max-width: 1600px) {
    .main {
        padding-top: 366px;
    }
    .mybrand > img {
        max-width: 82%;
        height: auto;
    }
    .container-2 {
        padding: 1rem 1rem 1rem 1rem;   
    }
}

@media only screen and (max-width: 1460px) {
    .external-links {
        min-width: 260px;
    }

}

@media only screen and (max-width: 1120px) {
    .external-links {
        min-width: 320px;
    }
    .article-container img {
        padding: 0 1.5rem 0.5rem 0;
        width: 248px;
        height: 140px;
    
    }

}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: var(--content-col);
}
.border-footer {
    border: var(--border-col) solid 2px;
    padding: 1rem;
    margin: 1rem;
    height: auto;
    width: 85%;
    min-height: 200px;
    border-radius: 0.4rem;
    text-align: center; 
}
.footer-img img {
    width: 240px;
    height: auto;
}
.footer-site-url {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-highlight);
}

.nav-sitemap {
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.nav-sitemap li a{
    font-size: 1rem;
    color:var(--white1);
}

.nav-sitemap ul {
    width: 100%;
    list-style: none;
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    border: var(--border-col) solid 2px;
}

.nav-sitemap li {
    flex: 1;
    padding: 0 2.5rem 0 2.5rem;
    /* overflow: hidden; */
    white-space: nowrap;
}



















